.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    max-width: 80%;
    width: 100%;
    margin:  0 auto;

    padding: 24px;

    border: 2px solid  rgb(218, 218, 218);
    border-radius: 18px;
}

.form-group .form-icon{
    font-size: 14px;
    color: var(--light-gray);
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.form-group .form-icon img{
    height: 30px;
}

.form-group h3{
    margin-top: 32px;
    font-size: 24px;
    color: rgb(218, 218, 218);
    font-weight: 300;
    margin-bottom: 8px;
}

.form-group .radio-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 4px;
    border-top: 1px solid rgb(238, 236, 236);
    position: relative;
    color: rgb(83, 83, 83);
}

.form-group .radio-wrapper:nth-last-child(3){
    border-bottom: 1px solid rgb(238, 236, 236);
}


.form-group .radio-wrapper span{
    position: absolute;
    right: 0;
}

.form-group .btn-wrapper{
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.form-group .btn-wrapper .btn{
    font-size: 18px;
    border-radius: 4px;
    color: var(--dark-grey);
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px;
    width: 25%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.form-group .btn-wrapper .btn-primary{
    background-color: var(--yellow);
}

.form-group .btn-wrapper .btn-secundary{
    background-color: transparent;
    border: 1px solid rgb(238, 236, 236);
}

.form-group .checkbox-wrapper{
    color: var(--light-gray);
    margin-top: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.form-group .checkbox-wrapper input[type="checkbox"]{
    margin-right: 4px;
}


.form-group .checkbox-wrapper span{
   right: 0;
}

@media (min-width: 768px){
    .form-group .btn-wrapper{
        display: flex;
        flex-direction: row;
    }
    
    .form-group .checkbox-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }
}

